/* CSS Document */
*{
	margin:0;
	padding:0;
	font-size:12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ol,ul{
	list-style:none outside none;
}

body{
	background-color:#EDEFF0;
	font:14px/2em Microsoft YaHei,SimSun,Aria;
}
/*******顶部******/
.top{
	height:27px;
	width:100%;
	background:url(../images/top_bg.jpg) repeat-x;
}

.top_content{
	width:1200px;
	margin:0 auto;
	line-height:27px;
}

.top_content ul{
	float:right;
}
.top_content li{
	float:left;
	list-style-type:none;
	line-height:27px;
	width:74px;
}
.top_content a:link,.top_content a:visited{
	color:#666;
	text-decoration:none;
}
.top_content a:hover,.top_content a:active{
	color:#ED165C;
	text-decoration:none;
}
/*******logo部分******/
.logo{
	width:1150px;
	height:104px;
	margin:0 auto;

}
.logo_left{
	float:left;
	margin-top:24px;
	margin-left:70px;
	
}
.logo_left img{
border:0;
}
/*******导航部分******/
.nav{
	width:100%;
	height:42px;
	background-color:#2B2C2E;
	margin-bottom:20px;
}
.nav_content{
	width:1200px;
	margin:0 auto;
}
.nav_content li{
	float:left;
	list-style-type:none;
	width:120px;
	line-height:42px;
	text-align:center;
}
.nav_content a{
	font-size:16px;
	font-family:Microsoft YaHei,SimSun,Aria;
	color:#FFF;
	display:block;
}
.nav_content a:link,.nav_content a:visited{
	text-decoration:none;
	color:#FFF;
}

.nav_content a:hover,.nav_content a:active{
	text-decoration:none;
	background-color:#ED165C;
}
/*******页脚部分******/

#footer{
	
	
	
	color:#8e999d;
	font-size:12px;
	line-height:1.6;
	width:100%;
	height:240px;
	padding-bottom:27px;
	padding-top:27px;
}
#footer div,#footer p{
	line-height:1.6;
}
.footerwaper{
	border-top:1px solid #e2e4e6;
	overflow:hidden;
	padding-bottom:20px;
	padding-left:150px;
	width:1200px;
	height:150px;
	margin:0 auto;
	background:#2a2c2e;
}
.footer_intro{
	border-right:1px solid #4f5153;
	line-height:24px;
	padding-left:10px;
	padding-top:30px;
	width:330px;
}
.footer_logo{
	background:url(../images/footer_logo.png) no-repeat scroll left top rgba(0,0,0,0);
	margin-top:-25px;
	padding-bottom:10px;
	height:72px;
	width:281px;

}

#footer .footer_intro,#footer .footer_link, #footer .attention{
	float:left;
	height:110px;
	margin-top:25px;
}

.footer_link{
	border-right:1px solid #4f5153;
	padding:0 50px;
	width:230px;
}

#footer .footer_link li{
	float:left;
	padding:2px 0;
	text-align:center;
	width:115px;
}

#footer a:link, #footer a:visited{
	text-decoration:none;
	color:#8e999d;

}
#footer a:hover, #footer a:active{
	text-decoration:none;
	color:#FFF;

}
.attention{
	height:98px;
	padding:12px 0 0 65px;
}

.attention a{
	background:url(../images/gotoTop.png) no-repeat scroll 0 0 rgba(0,0,0,0);
	float:left;
	height:32px;
	margin-right:11px;
	margin-top:15px;
	overflow:hidden;
	text-indent:-99em;
	width:32px;
}
#qzone{
	background-position:0 -96px;
	
}
#sinaweibo{
	background-position:-48px -96px;
}
#qqweibo{
	background-position:-96px -96px;
}
.attention a:link{
	opacity:0.3;
}
.attention a:hover{
	opacity:1;
}


/********主体部分*******/
.main{
	width:1300px;
	margin:0 auto;
	
}
.container{
	
	width:100%;
	margin:0 auto;
}
/**左边导航**/
.course-sidebar{
	float:left;
	width:280px;
}
:link, :visited, ins{ text-decoration: none; }
a:link, a:visited{ color: #5e5e5e;}
a:hover { color:#c9394a;}
a:active { color: #666;}
/**左边导类A**/
.course-sidebar-type{
	padding:8px;
	width:250px;
	margin-bottom:20px;
	border:1px solid #e6e8e9;
	border-top:0;
	background-color:#fff;
	box-shadow:0 1px 2px #d5d7d8;
}
/**左边导类B**/
.course-sidebar-menu{overflow:hidden;position:relative;}
.course-sidebar-menu li{float:left;width:120px;height:39px;border-bottom:1px solid #f2d7da}
.course-sidebar-menu li a{display:block;text-align:center;line-height:29px;padding-bottom:10px}
.course-sidebar-menu li a.curr{color:#ED165C;font-size:16px;}
.course-sidebar-menu .dot-curr{position:absolute;width:260px;height:2px;left:0;bottom:0;background:#ED165C}
/**左边导类C**/
.course-sidebar-tabs{margin:0 10px;padding:15px 0;overflow:hidden;border-bottom:1px solid #edf0f2}
.course-sidebar-tabs li{width:73px;float:left;line-height:30px;font-size:12px}
.course-sidebar-tabs li a{display:block;text-align:center;cursor:pointer;transition:.6s;-moz-transition:.6s;-webkit-transition:.6s;-o-transition:.6s}
.course-sidebar-tabs li a:hover,.course-sidebar-tabs li a.curr{background:#ED165C;color:#fff}
/**左边导类D**/
.course-sidebar-level{padding:5px 10px 20px;overflow:hidden}
.course-sidebar-level dt{padding-left:8px;color:#4d5559}
.course-sidebar-level dd{width:55px;float:left;line-height:30px;font-size:12px}
.course-sidebar-level dd a{display:block;text-align:center;cursor:pointer;transition:.6s;-moz-transition:.6s;-webkit-transition:.6s;-o-transition:.6s}
.course-sidebar-level dd a:hover,.course-sidebar-level dd a.curr{background:#ED165C;color:#fff}
/**搜索框**/
.course-sidebar-search{
	position:relative;
	height:38px;
	width:260px;
	/*margin-bottom:20px;
	
	*/
	border:1px solid #e6e8e9;
	border-top:0;
	background-color:#fff;
	box-shadow:0 1px 2px #d5d7d8;
	border-top:1px solid #fff;
}
.course-sidebar-search input{padding:10px;width:200px;line-height:18px;font-size:12px;float:left;border:0}
.course-sidebar-search input::-moz-placeholder{color:#b4bbbf}
.course-sidebar-search input::-webkit-placeholder{color:#b4bbbf}
.course-sidebar-search .btn_search{float:right;width:38px;height:38px;background:url(../img/course/dot_course_searchb73c.png?t=1) no-repeat left top}
.course-sidebar-result{position:absolute;left:-1px;top:39px;width:260px;margin-bottom:20px;border:1px solid #e6e8e9;border-top:0;background-color:#fff;box-shadow:0 1px 2px #d5d7d8;border-top:1px solid #d5d7d8;background:#fff;overflow:hidden;display:none;font-size:12px}
.course-sidebar-result li{padding-left:12px;height:30px;line-height:30px;color:#99a1a6;cursor:default}


/**右边内容**/
.course-content{
	float:right;
	width:1000px;
	border:1px solid #FFF;
	background:#FFF;
	/*position:relative;*/
	min-height:720px;
}
/*右边面包屑*/
.course-tools{height:50px;background:#fff;width:1000px;margin:0 auto;}
.course-tools h2{float:left;padding:10px 0;color:#99a1a6;font-size:14px;border-bottom:1px solid #edf0f2}
.course-tools h2 span{color:#656e73}
.course-tools ul{float:right;top:16px;margin-right:20px;}
.course-tools ul li{display:inline;float:left;width:60px;font-size:12px;text-align:center}
.course-tools ul li a{color:#b4bbbf;display:inline;border-left:1px solid #edf0f2;line-height:20px}
.course-tools ul li a.curr{color:#656e73}

/**********最新热卖**********/


/******产品图*****/

.pagec
{
	width:1100px;
	margin:0 auto;
	
}
.box
{
	float:left;
	padding:1px;
	box-shadow:0 0 2px rgba(0,0,0,.1);
	margin:10px 10px 10px 0;
}

.a_slow
{
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
	-ms-animation-duration: 1.6s;
	-o-animation-duration: 1.6s;
	animation-duration: 1.6s;
}

.demowrap
{
	margin:0 0 0 8px;
}

.tpl2 .bg
{
	background-color:#fff;
	background-color:rgba(255,255,255,.5);
	width:100%;
	height:100%;
}
.tpl2 .center-bar
{
	height:32px;
	position:absolute;
	top:20%;
	margin-top:-16px;
	text-align:center;
	width:100%;
}
.tpl2 .center-bar a
{
	display:inline-block;
	width:200px;
	height:200px;
	margin:0 3px;
	 
}
.tpl2 .twitter
{
	background:url(twitter.png) no-repeat center center;
}
.tpl2 a.twitter:hover
{
	background:url(twitter-hover.png) no-repeat center center;
}

/****分页***/
.page{
	
	text-align:center;
	font-size:0;
	margin:30px 0;
	
	
}
.page li{
	display:inline;
}
.page a,.page .page-prev,.page .page-next{
	padding:5px;
	font-size:14px;
	margin-left:10px;
	border:1px solid #758B6F;
}
.page .current{
	display:inline;
	margin-left:15px;
	padding:5px;
	font-size:14px;
	margin-left:10px;
	border:1px solid #EC155B;
	background:#EC155B;
	
}
.page a{
	color:#758B6F;
	text-decoration:none;
}
.page ul li a:hover{
	color:#fffff;
	text-decoration:none;
	border:1px solid #EC155B;
	background:#EC155B;
}
.page span{
	display:none;
	color:#FFFFFF;
}




